<%-include header%>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
  <div  class="quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_lb"> <a href="/product"> <i class="icon-dashboard"></i><span class="label label-important">20</span>  产品管理 </a> </li>
      <li class="bg_lg"> <a href="/userOrder"> <i class="icon-shopping-cart"></i><span class="label label-success">101</span> 订单管理</a> </li>
      <li class="bg_ly"> <a href="/blog"> <i class="icon-inbox"></i><span class="label label-success">101</span> 分享管理</a> </li>
      <li class="bg_lo"> <a href="/user"> <i class="icon-group"></i> 用户管理 </a> </li>
      <li class="bg_ls"> <a href="#"> <i class="icon-signal"></i> Check Statistics</a> </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
           <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
            <h5>最新分享</h5>
          </div>
          <div class="widget-content">
            <div class="todo">
              <div class="widget-content nopadding collapse in" id="collapseG2">
            <ul class="recent-posts">
           <% list.forEach(function(article){ %>
                 <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="img/demo/av1.jpg"> </div>
                <div class="article-post">
                
                  <span class="user-info"> By: john Deo / Date: <%= article.created_time%> </span>
                  <p><a href="/article?id=<%= article.id%>"><%= article.title%></a> </p>
                </div>
              </li>
              <% })%>
        
              <li>
                <a href="/blog" class="btn btn-warning btn-mini">View All</a>
              </li>
            </ul>
          </div>
            </div>
          </div>
        </div>
   
     
      </div>
      <div class="span6">
        
        <div class="widget-box">
          <div class="widget-title bg_lo"  data-toggle="collapse" href="#collapseG3" > <span class="icon"> <i class="icon-chevron-down"></i> </span>
            <h5>最新订单</h5>
          </div>
          <div class="widget-content nopadding updates collapse in" id="collapseG3">
         <%orders.forEach(function(order){%>
           <div class="new-update clearfix"> <i class="icon-gift"></i>
            
                <div class="article-post">
                  <span class="user-info"> By: <%= order.USERNAME%> / Date:   <%= order.CREATETIME%></span>
                  <p><a href="/userOderDetail?orderId=<%= order.ORDERID%>"> <%= order.TOURISMTITLE%></a> </p>
                </div>
             </div>

         <%})%>
          
           
                <a href="/blog" class="btn btn-warning btn-mini">详细</a>
             
         
         
          </div>
        </div>
      </div>
    </div>
    <hr>
  
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </div>
</div>


<%-include footer%>
