<%- include header%>


<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>

  </div>
  
  <div class="container-fluid">
   <h5>订单详情</h5>
    <hr>
   
    <div class="row-fluid">
      <div class="span12">

    
        <div class="widget-box">
              <div id="search">
  <input type="text" placeholder="订单号..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>订单列表</h5>
            <span class="label label-info">Featured</span> </div>
          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>订单号</th>
                  <th>用户</th>
                  <th>产品</th>
                  <th>数量</th>
                  <th>总价</th>
                  <th>详情</th>
                </tr>
              </thead>
              <tbody>
                     <% orders.forEach(function(order){%>
                <tr>
                 <td><input type="checkbox" /></td>
                 <td><%= order.ORDERID%></td>
                 <td><%= order.USERNAME%></td>
                 <td><%= order.TOURISMSUBTITLE%></td>
                 <td><%= order.ORDERICOUNT%></td>
                 <td><%= order.ORDERPRICE%></td>
                  <td><a href="/userOderDetail?orderId=<%= order.ORDERID%>"  class="btn btn-mini btn-primary">详情</a></td>
                </tr>
        <%})%>
         
       
              </tbody>
            </table>
          </div>
        </div>
      
     
      </div>
    </div>
  </div>
</div>

<%- include footer%>