<%-include header%>
   <div id="content">
	   
	   <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
  <div class="container-fluid">
	 
<a type="button" href="/postProduct" class="btn btn-primary btn-lg btn-block">
      发布产品
</a>
<span  id="productMessage" hidden="hidden" ><%= productMessage%></span>
<table class="table table-bordered" contenteditable="true">
	<thead>
		<tr>
			<th>景点类型</th>
			<th>景点标题</th>
			<th>景点简介</th>
			<th>价格</th>
			<th>编辑</th>
			
			
		</tr>
	</thead>
	<tbody>
		<%results.forEach(function(result){%>
		<tr class="success">
			
			<td><%= result.typeId%></td>
			<td name="tourismTitle"><%= result.tourismTitle%></td>
			<td><%= result.tourismSubtitle%></td>
			<td><%= result.price%></td>
			<a href="/">主页</a>
			
			<td><button class="btn btn-mini btn-success" name="deleteBtn"><span hidden="hidden"><%= result.tourismId%></span> 删除</button> <a  onClick="window.location.href='/update?tourismId=<%= result.tourismId%>'"  href="/update?tourismId=<%= result.tourismId%>" class="btn btn-mini btn-success">修改</a> 
			<a  onClick="window.location.href='/productDetail?tourismId=<%= result.tourismId%>'"   href="/productDetail?tourismId=<%= result.tourismId%>"  class="btn btn-mini btn-success">详情</a></td>
		</tr>	
	<%})%>
		
		
	</tbody>
</table>

    </div>
   </div>
  
 
    <%- include footer%>
<script>
	$(function(){
	var productMessage = $("#productMessage").text();
	if(productMessage!= ""){
		bootbox.alert(productMessage);
	}
	
   
   //删除产品
   $("button[name = 'deleteBtn']").click(function(){
	   var tourismId =  $(this).children('span').text();
	   bootbox.confirm("你确定删除该产品吗",function(result){
		 if(result){ 
		  window.location.href = '/delete?tourismId='+tourismId;
		 }
	   });
   })
  })
  
 
  
  
</script>