

<%-include header%>
<div id="content">
    
     <div id="content-header">
       <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
      <div class="container-fluid">

        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Personal-info</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="/update" method="post"  class="form-horizontal">
           <div class="control-group">
              <label class="control-label">景点Id :</label>
              <div class="controls">
                <input class="span11" name="tourismId"  value="<%= product.TOURISMID%>" type="text" readonly>
              </div>
            <div class="control-group">
              <label class="control-label">typeId :</label>
              <div class="controls">
                <input class="span11" name="typeId" value="<%= product.TYPEID%>" type="text" readonly>
              </div>
            </div>
             
            <div class="control-group">
              <label class="control-label">景点标题 :</label>
              <div class="controls">
                <input class="span11" name="tourismTitle"  value="<%= product.TOURISMTITLE%>" type="text" readonly>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">景点说明</label>
              <div class="controls">
                <input class="span11" value="<%= product.TOURISMSUBTITLE%>" name="tourismSubtitle" type="text">
              </div>
            </div>
            
              <div class="control-group">
              <label class="control-label">景点说明</label>
              <div class="controls">
                <textarea class="span11" value="<%= product.RECOMMENDINTRO%>" style="hight:50px"  name="recommendIntro" type="text" ><%= product.RECOMMENDINTRO%></textarea>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">价格 :</label>
              <div class="controls">
                <input class="span11" value="<%= product.PRICE%>" name="price" type="text">
              </div>
            </div>
            
                <div class="control-group">
              <label class="control-label">时长 :</label>
              <div class="controls">
                <input class="span11" name="tourDays"  value="<%= product.TOURDAYS%>" type="text" >
              </div>
              
            
              <div class="control-group">
              <label class="control-label">特点 :</label>
              <div class="controls">
                <input class="span11" name="fit"  value="<%= product.FIT%>" type="text" >
              </div>
            
              <input class="span11" value="<%= images[0]%>" name="image1" type="hidden" >
              <input class="span11" value="<%= images[1]%>" name="image2" type="hidden" >
              <input class="span11" value="<%= images[2]%>" name="image3" type="hidden" >
              <input class="span11" value="<%= images[3]%>" name="image4" type="hidden">
        
            <div class="form-actions">
              <button type="submit" class="btn btn-success">更新</button>
            </div>
          </form>
        </div>
      </div>
</div>  
      <%-include footer%>
